[Unit]
Description=Foundry VTT
Documentation=https://foundryvtt.com
After=network.target

[Service]
Type=simple
User=foundry
Group=foundry
ExecStart=/home/foundry/foundry_app/resources/app/main.js --dataPath=/home/foundry/foundry_data
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
